html,body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font: 16px/1.5 'Microsoft YaHei','sans-serif';
    color: #333333;
}
a{
    text-decoration: none;/*文本的修饰，上中下*/
    color: #333;
}
@font-face {
    font-family: 'iconfont';  /* project id 1021807 */
    src: url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.eot');
    src: url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.woff') format('woff'),
    url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1021807_g0mz3l2yu5o.svg#iconfont') format('svg');
}
/*默认样式*/

.nav{
    width: 100%;
    height: 79px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
}
.navContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top:14px;
}
/*a标签是一个行内元素（行内标签）*/
.logo a{
    display: inline;
    width: 100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navList{
    width: 602px;
    height: 100%;
    float: right;
    margin: 0;
}
.navList li{
    float: left;
    width: 86px;
    height: 100%;
}
.navList li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition: color linear 0s/*过渡属性*/   /*linear线性*/
}
.navList li a:hover/*鼠标移入或点击*/{
    color: #16b0dc;
}
/*nav导航*/

.xiaobeijing{
    height: 120px;
    background: #F1F1F1;
    margin-top: 79px;
    text-align: center;
    line-height: 120px;
}
.hyhyzi{
    color: #F67A82;
    font-size: 35px;
    font-weight: 400;
}
.dabeijing{
    height: 1181px;
    background: #f2f2f2;
    padding: 30px 0;
}
.dahe{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.zuobai{
    width: 817px;
    height: 1121px;
    background: #ffffff;
    padding: 30px;
}
.youbai{
    width: 222px;
    height: 315px;
    background: #ffffff;
    margin-left: 30px;
    padding: 20px;
}
.liehe{
    width: 817px;
    height: 1121px;
}
.liehe1{
    width: 817px;
    /*height: 160px;*/
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f2f5;
}
.liehe1li{
    width: 817px;
    height: 160px;
    display: flex;
}
.liehe1lizuo{
    width: 160px;
    height: 160px;
    padding-right: 20px;
}
.liehe1lizuo a img{
    width: 160px;
    height: 160px;
}
.liehe1liyou{
    width: 636px;
    height: 159px;
}
.baihuazi{
    width: 636px;
    height: 26px;
    margin-bottom: 20px;
    font-size: 22px;
}
.baihuazi a{
    color: #2a333c;
}
.baihuazi a:hover{
    text-decoration: underline;
    color: #62a8ea;
}
.xinnian{
    margin-bottom: 10px;
    color: #76838f;
    font-size: 16px;
    font-weight: 300;
}
.info{
    width: 636px;
    height: 24px;
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
}
.wyn{
    margin-left: 10px;
}
.yanjing{
    font-family: iconfont;
    color: #a3afb7;
    font-weight: 300;
    margin-left: 10px;
}

.youbaixiao{
    width: 222px;
    height: 315px;
}
.sousuoda{
    width: 206px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #e4eaec;
    line-height: 36px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    padding-left: 16px;
}
.search{
    color: #e4eaec;
    font-weight: lighter;
}
.sousuotu img{
    width: 14px;
    height: 14px;
    position: absolute;
    right: 16px;
    top: 11px;
}
.xian{
    width: 222px;
    height: 1px;
    background: #e4eaec;
    margin-bottom: 20px;
}
.zihe{
    width: 222px;
    height: 162px;
    margin-bottom: 20px;
}
.zihe h3{
    font-size: 18px;
    font-weight: 300;
}
.biao{
    margin-top: 10px;
    width: 222px;
    height: 131px;
}
.biaoli{
    height: 42px;
    border: 1px solid #e4eaec;
    border-bottom: none;
    line-height: 42px;
    padding-left: 15px;
}
.shihe:hover{
    text-decoration: underline;
    color: #62a8ea;
}
.biaoli3{
    height: 42px;
    border: 1px solid #e4eaec;
    line-height: 42px;
    padding-left: 15px;
}
.suoyou{
    font-size: 16px;
    color: #2a333c;
}
.suoyou:hover{
    text-decoration: underline;
    color: #62a8ea;
}

.zong{
    width: 100%;
    height: 20px;
}
.zong .xiao{
    width: 100%;
    height: 20px;
    background: white;
}
.last{
    width: 100%;
    height: 120px;
    background: #f5f5f5;
    color: #aaaaaa;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 16px;
}
.last .tutu{
    width: 100%;
    height: 40px;
}
.last .tutu img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.last a{
    color: #62a8ea;
    font-size:16px;
}
.last a:hover{
    text-decoration: underline;
    color: #62a8ea;
    font-size:16px;
}
.last p{
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 200;
}
.last a img{
    width: 20px;
    height: 20px;
    padding-left: 30px;
}
/*box*/